.product-accordion {
  width: 100%;
  background: var(--bg-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 22px;
}

.accordion__header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  border: 0;
  padding: 30px 0 12px;
  cursor: pointer;
}

.accordion__title {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 160%;
  color: var(--text-color);
}

.accordion__icon {
  font-size: 28px;
  font-weight: 300;
  color: var(--text-color);
}

.accordion__panel {
  color: var(--text-color);
  padding: 0 0 16px;
}

.accordion__rule {
  width: 100%;
  height: 1px;
  background-color: var(--text-color-2);
  margin: 24px auto 0;
}

.accordion__item:not(.is-open) .accordion__panel {
  display: none;
}
